# https://alacritty.org/config-alacritty.html

[general]
import = [
    "~/.config/alacritty/local.toml",
]

[window]
opacity = 0.98

# [font]
# normal = { family = "Intel One Mono", style = "Regular" }

# [terminal.shell]
# program = "/bin/zsh"
# args = ["--login", "-c", "tmux"]

[keyboard]
bindings = [
    { key = "v", mods = "Control|Shift", action = "Paste" },
    { key = "c", mods = "Control|Shift", action = "Copy" },

    { key = "[", mods = "Control|Command", mode = "~Vi", action = "ToggleViMode" },
    { key = "Space", mods = "Control|Command", mode = "~Vi", action = "ToggleViMode" },
    { key = "[", mods = "Control", mode = "Vi", action = "ClearSelection" },
    { key = "q", mode = "Vi", action = "ToggleViMode" },

    # Remap navigation keys to ensure consistent behavior across applications.
    # See ryym/dotfiles/sync/os/arch/README.md#key-binding-strategy for details.
    { key = "Home", chars = "\u0001" }, # Ctrl-a
    { key = "End", chars = "\u0005" }, # Ctrl-e
    { key = "End", mods = "Shift", chars = "\u000b" }, # Ctrl-k
    { key = "Delete", action = "None" },
    { key = "Down", mods = "Control", chars = "\u000e" }, # Ctrl-n
    { key = "Up", mods = "Control", chars = "\u0010" }, # Ctrl-p
    { key = "Left", chars = "\u0002" }, # Ctrl-f
    { key = "Right", chars = "\u0006" }, # Ctrl-b
]

# https://github.com/sainnhe/everforest
[colors]

[colors.primary]
background = '#2d353b'
foreground = '#d3c6aa'

[colors.normal]
black = '#475258'
red = '#e67e80'
green = '#a7c080'
yellow = '#dbbc7f'
blue = '#7fbbb3'
magenta = '#d699b6'
cyan = '#83c092'
white = '#d3c6aa'
[colors.bright]
black = '#475258'
red = '#e67e80'
green = '#a7c080'
yellow = '#dbbc7f'
blue = '#7fbbb3'
magenta = '#d699b6'
cyan = '#83c092'
white = '#d3c6aa'
