# vim:set filetype=systemd:

[Unit]
Description=Xremap
After=default.target

[Service]
ExecStart=%h/.cargo/bin/xremap --watch=device %h/.config/xremap/xremap.yml
Restart=on-failure

[Install]
WantedBy=default.target
