# vim:set filetype=systemd:
# https://github.com/xremap/xremap/blob/master/example/xremap.service

[Unit]
Description=Xremap
After=default.target

[Service]
ExecStart=%h/.cargo/bin/xremap --watch=device %h/.config/xremap.yml
Restart=on-failure

[Install]
WantedBy=default.target
