[submodule "dotfiles/tmux/plugins/tpm"]
	path = dotfiles/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dotfiles/vim/pack/init/opt/mapping.vim"]
	path = dotfiles/vim/pack/init/opt/mapping.vim
	url = git@github.com:ryym/mapping.vim
[submodule "dotfiles/vim/pack/init/opt/vim-plugger"]
	path = dotfiles/vim/pack/init/opt/vim-plugger
	url = git@github.com:ryym/vim-plugger
