[submodule "dotfiles/vim/rcbundle/mapping.vim"]
	path = dotfiles/vim/rcbundle/mapping.vim
	url = https://github.com/ryym/mapping.vim
[submodule "dotfiles/tmux/plugins/tpm"]
	path = dotfiles/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
