@theme "material"

configuration {
    modi: "run,window";

    font: "IntelOneMono 12";

    // Key bindings
    // https://github.com/davatorium/rofi/blob/next/doc/rofi-keys.5.markdown
    // rofi -list-keybindings
    kb-mode-next: "Tab";
    kb-element-next: "";
}
